

body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.container {
	max-width: 390px;
}
.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}
.img {
	width: 186px;
}

p { 
	color: #f4983d; 
}

h1 { 
	color: #f4983d; 
}

.item {
	text-align: center;
}
.button {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(4, 107, 181);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}
.button:hover {
	background: lightgreen;
}



.nesolestag-enadenud {
  width: 615px;
  margin: 0 auto;
}

.kesednsoled:after,
.kesednsoled:before {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
  
}
.ico-wrap {
  color: #f4983d;
  width: 48px;
  height: 48px;
  margin: 30px 18px 5px 5px;
  display: block;
  text-align: center;
  font-size: 25px;
  border: 2px solid #f4983d;
  float: left;
  border-radius: 30px;
}
.ico-contact {
  line-height: 1.8 !important;
}
.meanous-andscoev {
  float: left;
  margin-bottom: 20px;
}
.aio-icon-title {
  font-size: 16px;
  color: #f4983d;
  line-height: 1;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .meanous-andscoev,
  .ico-wrap {
  float: none;
  text-align: center;
  }
  .ico-wrap {
  margin: 0 auto 15px auto;
  }
}

@media  screen and (min-width: 525px) {
  .header-pc {
    display: block
  }
  .header-mobile {
    display: none
  }
}

@media  screen and (max-width: 525px) {
  .header-pc {
    display: none
  }
  .header-mobile {
    display: block
  }
}



.layer1 {
    background: #F2EFE6;
    border: 1px solid #f4983d;
    padding: 10px;
    margin: 20px;
   }


